#firstheading{
  font-size: xx-large;
}
#secondheading{
  font-size: xx-large;
}
#registrationheading{
  color: rgb(228, 228, 63);
  background-color: rgb(16, 94, 143);
  font-weight: bold;
  font-size: x-large;

}
.inputlabels{
  font-size: large;
}


@media screen and (max-width:594px){
  #firstheading{
  font-size: x-large;
}
#secondheading{
  font-size: x-large;
}
#registrationheading{
  font-size: large;
}
.inputlabels{
  font-size: 14px;
}
}


@media screen and (max-width:507px){
  #firstheading{
  font-size: large;
}
#secondheading{
  font-size: large;
}
#registrationheading{ 
  font-size: medium;
}
.inputlabels{
  font-size: 10px;
}
}


